
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Starter Template for Bootstrap</title>

        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <style type="text/css">
        .starter-template {
            padding-top: 60px;
        }

        </style>


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">

            <div class="starter-template">
                <h1>Docs for great justice</h1>
            <form method="POST" action="http://google.com/">
            <input name="q" type="text">
            </form>

            <ul class="list-group" id="resources">
            {% for type in resources %}
            <li>{{type.title}}
                <ul>
                {% for subtype in type %}
                    <li>subtype.title
                        <ul class="hidden">
                    {% for resource in subtype %}
                            <li><a href="">{{resource.title}}</a></li>
                    {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </li>
            {% endfor %}
            </ul>



        </div><!-- /.container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script type="text/javascript">

        $.ajax({
            url : "/resources/all",
            success : function(resources) {

            }
        });

        var resources = [
            {title: "JavaScript", "subTypes" : [
                    {"title" : "DOM Manipulation", "resources": [
                        {"title" : "jQuery", "link": "http://api.jquery.com/"},
                        {"title" : "Bootstrap Starter Template", "link": "http://getbootstrap.com/examples/starter-template/"},
                        {"title" : "Bootstrap Docs", "link": "http://getbootstrap.com/"}
                    ]}
            ]},
            {title: "HTML", "subTypes" : [
            {"title" : "Layout", "resources": [
                    {"title" : "Bootstrap Starter Template", "link": "http://getbootstrap.com/examples/starter-template/"},
                    {"title" : "Bootstrap Docs", "link": "http://getbootstrap.com/"}
                ]}
            ]}
        ];

        for (var i = 0; i < resources.length; i++) {
            var li = $('<li class="list-group-item">' + resources[i].title + '</li>');
            var subUl = $('<ul class="list-group hidden">');
            for (var j = 0; j < resources[i].subTypes.length; j++) {
                var subLi = $('<li class="list-group-item">' + resources[i].subTypes[j].title + '</li>');
                var resourcesUl = $('<ul class="list-group hidden">');
                for (var k = 0; k < resources[i].subTypes[j].resources.length; k++) {
                    var resourceLi = $('<li class="list-group-item"><a href="' + resources[i].subTypes[j].resources[k].link +'">' + resources[i].subTypes[j].resources[k].title + '</a></li>');
                    resourcesUl.append(resourceLi);
                }
                subLi.append(resourcesUl);
                subUl.append(subLi);
            }
            li.append(subUl);
            $("#resources").append(li);
        }

        $(".list-group-item").on("click", function(e) {
            e.stopPropagation();
            console.log(this);
            $($(this).children()[0]).toggleClass("hidden");
        });

     
        </script>

    </body>
</html>
